@tailwind base;
@tailwind components;
@tailwind utilities;

figure {
  @apply shadow-sm overflow-hidden border-gray-100 border p-8 bg-gray-50;
}

img {
  @apply rounded-sm;
}

figcaption {
  @apply italic;
}

.prose h1 {
  @apply font-sans text-blue-700 pb-2 border-b-4 border-blue-300;
}

h1 > a {
  @apply border rounded-sm border-transparent no-underline text-blue-700 font-extrabold hover:text-blue-500 focus:ring-2 focus:border-transparent focus:ring-blue-700 focus:outline-none;
}

.prose h2,
.prose h3,
.prose h4 {
  @apply font-sans;
}

article.garment h1 {
  @apply text-gray-700 pb-2 border-b-2 border-blue-300;
}

article.garment h1 > a {
  @apply border rounded-sm border-transparent no-underline text-gray-700 font-extrabold hover:text-blue-500 focus:ring-2 focus:border-transparent focus:ring-gray-700 focus:outline-none;
}

footer p > a {
  @apply underline hover:text-blue-500;
}
