{{ define "main" }}
<article class="text-gray-700 font-sans">
  <h1
    class="text-blue-700 text-4xl font-extrabold mb-8 pb-2 border-b-4 border-blue-300"
  >
    {{.Title}}
  </h1>
  {{ range .Pages }}
  <h2 class="font-medium text-xl sm:text-2x">
    <a href="{{ .Permalink }}">{{ .Params.Number }}∕{{ .Title | title }}</a>
  </h2>
  {{ end }}
</article>
{{ end }}
