{{ define "main" }}
<article
  class="garment text-gray-700 font-sans sm:mx-12 mb-16 prose md:mx-auto lg:prose-lg prose-blue"
>
  <h1 class="garment pt-1"><a href="{{.Page.Site.BaseURL}}" class="text-gray-700">{{ .Params.Number }}∕{{ .Title | title }}</a></h1>

  <table class="border-2 border-gray-900">
    <tr class="p-2">
      <th scope="row" class="p-2">Garment number</th>
      <td>{{ .Params.Number }}</td>
    </tr>
    <tr>
      <th scope="row" class="p-2">Fabric</th>
      <td>{{ .Params.Fabric | markdownify | default "Fabric not known" }}</td>
    </tr>
    <tr>
      <th scope="row" class="p-2">Pattern</th>
      <td>{{ .Params.Pattern | markdownify | default "Pattern not known"}}</td>
    </tr>
    <tr>
      <th class="p-2">Colour</th>
      <td>{{ .Params.Colour | markdownify | default "Colour not known" }}</td>
    </tr>
  </table>

  {{ .Content }} {{ if (.Site.Params.Comments) }} {{- partial "addcomment.html" . -}} {{ end }}
</article>
{{ end }}
