<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    {{- partial "head.html" . -}}
    <body class="flex flex-col min-h screen bg-gray-100">
        {{- partial "dev-size-indicator.html" . -}}
        {{- partial "header.html" . -}}
        <main class="sm:mt-16 md:mx-12 lg:mx-24 flex-1 mx-4 mt-4 bg-gray-100">
        {{- block "main" . }}{{- end }}
        </main>
        <!-- {{- partial "dev-parameters.html" . -}} -->
        {{- partial "footer.html" . -}}
    </body>
</html>
