{{ define "main" }}
<article class="text-gray-700 font-sans">
  <h1
    class="text-blue-700 text-4xl font-extrabold mb-8 pb-2 border-b-4 border-blue-300"
  >
    {{.Title}}
  </h1>
  {{ range .Pages }}
  <h2 class="font-medium pb-3 text-xl sm:text-2xl border rounded-sm border-transparent no-underline hover:text-blue-500 focus:ring-2 focus:border-transparent focus:ring-blue-700 focus:outline-none;
  ">
    <a href="{{ .Permalink }}">∕{{ .Title | title }}</a>
  </h2>
  {{ end }}
</article>
{{ end }}
