{{ define "main" }}
<article
  class="text-gray-700 font-serif sm:mx-12 mb-16 prose md:mx-auto lg:prose-lg prose-blue"
>
<div class="flex justify-start">
    <div class="font-sans text-gray-700 flex pb-2 text-sm">
      <time datetime>{{ dateFormat "02 January 2006" .Date }}</time>
    </div>
</div>
<h1><a href="{{.Page.Site.BaseURL}}">{{ .Title | title }}</a></h1>
  {{ .Content }} {{ if (.Site.Params.Comments) }} {{- partial "addcomment.html" . -}} {{ end }}
</article>
{{ end }}
