{{ define "main" }}
<article class="prose lg:prose-xl prose-blue font-serif text-gray-700 ">

    <h1 class="mb-8 pb-1 border-b-4 border-blue-300">{{ .Title | title }}</h1>
    {{ .Content }}
</article>
{{ end }}
