<section>
  <h2>Comments</h2>

  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := .File.UniqueID }}
  {{ range $comments }}
    {{ if eq .Name $entryId }}
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
  <div class="post-comment">
    <div class="post-comment-header">
      <img
        class="post-comment-avatar"
        src="https://www.gravatar.com/avatar/{{ .email }}?s=100"
      />
      <p class="post-comment-info">
        <strong>{{ .name }}</strong><br />{{ dateFormat "02/01/2006" .date }}
      </p>
    </div>
    {{ .body | markdownify }}
  </div>
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if eq ($.Scratch.Get "hasComments") 0 }}
  <p>No comments to show</p>
  {{ end }}

  <h3>Say something</h3>

  <form
    method="post"
    action="https://sewing-blog.herokuapp.com/v3/entry/gitlab/pestrickland/sewing-blog/main/comments"
  >
    <div class="grid grid-cols-1 gap-6">
      <label class="block" for="fields[name]">
        <span class="text-gray-700">Name</span>
        <input
          type="text"
          required
          class="mt-1 block w-full rounded-sm border-gray-300 shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-30"
          name="fields[name]"
          placeholder="Your name"
      /></label>
      <label class="block" for="fields[email]"
        ><span class="text-gray-700">Email</span>
        <input
          type="email"
          class="mt-1 block w-full rounded-sm border-gray-300 shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-30"
          name="fields[email]"
          placeholder="john@example.com"
      /></label>
      <label class="block" for="fields[message]"
        ><span class="text-gray-700">Comment</span>
        <textarea
          name="fields[message]"
          required
          class="mt-1 block w-full rounded-sm border-gray-300 shadow-sm focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-30"
          placeholder="Your message. Markdown if you like."
        ></textarea>
      </label>
      <input
        type="hidden"
        name="options[redirect]"
        value="{{ .Permalink }}#comment-submitted"
      />
      <input
        type="hidden"
        name="options[entryId]"
        value="{{ .File.UniqueID }}"
      />
      <input type="submit" value="Submit" />
    </div>
  </form>

  <!-- <div id="comment-submitted" class="dialog">
    <h3>Thank you</h3>
    <p>
      Your comment has been submitted and will be published once it has been
      approved.
    </p>
    <p>
      <a href="https://gitlab.com/pestrickland/sewing-blog/-/merge_requests"
        >Click here</a
      >
      to see the merge request you generated.
    </p>

    <p><a href="#" class="btn">OK</a></p>
  </div> -->
</section>
