<footer
  class="w-full text-center border-t border-blue-200 px-1 py-2 sm:p-4 text-xs text-gray-600"
>
  <div class="licence">
    {{ .Site.Params.licenceText | safeHTML }}
  </div>
  <div id="footer-text">
    <p>{{ .Site.Params.footerText | markdownify }}</p>
  </div>
</footer>
