<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ block "title" . }}
    {{- .Title | title }} &ndash; {{ .Site.Title | title -}}
    {{ end -}}
</title>
{{- if .Site.Params.Description }}
<meta name="description" content="{{ .Site.Params.Description }}" />
{{ end -}}
{{- if .Keywords }}
<meta name="keywords" content="{{ delimit .Keywords ';' }}">
{{ end -}}
{{- if .Params.Author }}
<meta name="author" content="{{ .Params.Author }}">
{{ end -}}
{{ hugo.Generator }}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700&family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet">
{{- $styles := resources.Get "css/main.css" | postCSS (dict "config" "./assets/css/postcss.config.js") -}}
{{- if .Site.IsServer }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ else }}
{{- $styles := $styles | minify | fingerprint | resources.PostProcess -}}
<link
  rel="stylesheet"
  href="{{ $styles.Permalink }}"
  integrity="{{ $styles.Data.Integrity }}"
/>
{{ end -}}
</head>
