<header class="w-full px-4 pt-4">
  <nav class="flex justify-between items-baseline flex-wrap font-sans">
    <a
      href="{{ .Site.Home.Permalink }}"
      class="flex font-bold text-gray-700 hover:text-blue-700"
    >
    <span >Stitch</span>
    <span class="text-blue-700">∕</span>
    <span >Stitch</span>
      <!-- {{ .Site.Title }} -->
    </a>

    <ul
      id="menu"
      class="flex justify-end mt-2 sm:flex sm:w-auto md:mt-0 sm:space-x-2"
    >
      {{ range (.Site.Sections.ByTitle).Reverse }}
      <li class="ml-2">
        <a href="{{ .Permalink }}" class="text-gray-600 hover:text-blue-500"
          >{{ .Title }}</a
        >
      </li>
      {{ end }}
      {{ with .Site.GetPage "/about" }}
      <li class="ml-2">
        <a href="{{ .Permalink }}" class="text-gray-600 hover:text-blue-500"
          >{{ .Title }}</a
        >
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
